*{
    padding:0px;
    margin:0px;

}

.app-cnt{
    display: flex;
    flex-direction: column;
    background-color:whitesmoke;
    padding: 0px;
    margin: 0px;
}
.grid{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 0px;
}